<div class="container my-5">
  <div class="row">
    <div class="col-md-4 col-center">
      <h2>Signup</h2>
      <%= render partial: "users/form", locals: {user: @user} %>
      <div class="text-center">
        Already have an account? <%= link_to "Log in ", login_url %>here!
      </div>
    </div>
  </div>
</div>