<% disabled ||= false %>
<% hidden ||= false %>

<div class="form-group" <%= 'hidden' if hidden %> >
  <% invalid = obj.errors.include?(field) %>
  <%= form_obj.label field %><br>
  <%= form_obj.text_field field, class: "form-control #{'is-invalid' if invalid}", disabled: disabled %><br>
  <% if invalid %>
    <div class="text-danger post-input-hint">
      <% obj.errors.full_messages_for(field).each do |error_message| %>
        <%= error_message %>.<br>
      <% end %>
    </div>
  <% end %>
</div>